In [1]:
import os

In [2]:
os.getcwd()

'/Users/satyadevtummala'

In [3]:
ls

Applications/                  Movies/
Desktop/                       Music/
Documents/                     Pictures/
Downloads/                     Public/
Hexaware Training Day 4.ipynb  __pycache__/
Hexaware Traning Day 3.ipynb   my_module.py
Library/

In [4]:
open(r'test.txt','x')

In [7]:
f = open(r'test.txt','w')
f.write('python file handling')
f.close()

In [8]:
f = open(r'test.txt','r')
print(f.read())

python file handling

In [10]:
import requests

In [19]:
response_text = requests.get('https://www.google.com/').text

In [14]:
f = open(r'response.txt','w')

In [17]:
f.write(response_text)

14969

In [23]:
try:
    response_text = requests.get('htps://www.google.com/').text
    f = open(r'response.txt','w')
    f.write(response_text)
except Exception:
    print("Something worng with the request")

Something worng with the request

In [24]:
import math

In [25]:
powers = [math.pow(i,2) for i in range(1,11)]

In [26]:
powers

[1.0, 4.0, 9.0, 16.0, 25.0, 36.0, 49.0, 64.0, 81.0, 100.0]

In [36]:
def square(n):
    for i in range(n):
        yield i **2

In [37]:
out = square(5)

In [33]:
next(out)

16

In [38]:
for i in out:
    print(i)

0
1
4
9
16

python unit testing

Robot
Pytest
unitest
DocTest
Testify

In [40]:
import pytest

In [2]:
import os

In [3]:
os.getcwd()

'/Users/satyadevtummala/Hexware Training'

In [4]:
os.chdir(r'/Users/satyadevtummala/Hexware Training/testing')

In [5]:
os.getcwd()

'/Users/satyadevtummala/Hexware Training/testing'

In [20]:
%%writefile mathfile.py

def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def multiply(a,b):
    return a*b

Overwriting mathfile.py

In [15]:
%%writefile test_mathfile.py

import mathfile

def test_add():
    output = mathfile.add(2,3)
    assert output == 5
    
def test_sub():
    output = mathfile.sub(4,3)
    assert output == 1
    
def tst_multiply():
    output = mathfile.multiply(2,3)
    assert output == 6

Overwriting test_mathfile.py

In [16]:
%%writefile rectangle.py
def perimeter(l,b):
    return 2*(l+b)

def area(l,b):
    return l*b

Writing rectangle.py

In [18]:
%%writefile test_rectangle.py
import rectangle
def test_perimeter():
    output =  rectangle.perimeter(3,4)
    assert output == 14
    
def test_area():
    output = rectangle.area(3,4)
    assert output == 12

Overwriting test_rectangle.py

In [27]:
%%writefile  test_multiple_level_tesing_mathfile.py
import mathfile
import pytest

@pytest.mark.parametrize("a,b,result",[(5,6,11),(2.5,6.5,9.0),("hello","testing","hellotesting")])
def test_add(a,b,result):
    assert mathfile.add(a,b) == result

Overwriting test_multiple_level_tesing_mathfile.py

In [28]:
%%writefile conftest.py

import pytest
@pytest.fixture

def input_data():
    total = 100
    return total

Writing conftest.py

In [29]:
%%writefile test_logic.py

import pytest
def test_total_by_5(input_data):
    assert input_data %5 == 0
def test_total_by_10(input_data):
    assert input_data % 10 == 0

Writing test_logic.py

In [32]:
x = int(input("enter a value"))
print(1<x<10)
print(x<10<x*10<100)
print(5==x>4)
print(10>x<=9)

enter a value5
True
True
True
True

numpy
pandas
matlplotlib
seaborn

In [34]:
import pandas as pd

In [35]:
import numpy as np

In [40]:
os.getcwd()

'/Users/satyadevtummala/Hexware Training'

In [39]:
os.chdir('..')

In [41]:
df = pd.read_csv('Bank_churn_modelling - Copy.csv')

In [42]:
df.shape

(10000, 14)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [47]:
type(df)

pandas.core.frame.DataFrame

In [44]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [46]:
df.tail(3)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [48]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [49]:
df['Geography'].size

10000

In [51]:
df_par = pd.read_parquet('Data_Subsetw.parquet')

In [52]:
df_par.shape

(210, 75)

In [54]:
df_par.size

15750

In [55]:
df_par.head()

,ShipTo,measures_measureDate,ControllerID,Result,Cell Fouling,Conductivity,NCM 1,NCM 2,Nonox Bio Relay On Time,ORP,...,windSpdMax,windSpd80mMin,windSpd80mAvg,windSpd80mMax,windSpd100mMin,windSpd100mAvg,windSpd100mMax,wetBulbMin,wetBulbAvg,wetBulbMax
0,150010683,2014-01-02,15490,0,0.00000,968.241042,2.173437,0.017292,0.000000,518.416667,...,27.2,26.2,31.2,38.5,27.3,32.7,40.3,37.1,40.6,44.1
1,150010683,2014-01-02,21778,0,4.20000,1160.834706,0.100000,0.016471,5.752941,385.282353,...,27.2,26.2,31.2,38.5,27.3,32.7,40.3,37.1,40.6,44.1
2,150163434,2014-01-02,110015,0,2.62500,2554.996042,2.238229,0.110937,0.000000,515.395833,...,14.9,7.3,13.1,19.4,7.4,13.3,19.7,49.6,54.7,59.8
3,150163434,2014-01-02,110792,0,77.40625,151.083333,2.742708,0.246250,0.000000,294.625000,...,14.9,7.3,13.1,19.4,7.4,13.3,19.7,49.6,54.7,59.8
4,150219235,2014-01-02,53679,0,0.00000,1580.237158,1.148526,0.130105,1.473684,566.915789,...,10.7,1.0,7.9,16.9,1.0,8.0,17.1,39.0,50.5,59.2

In [56]:
df_par.tail()

,ShipTo,measures_measureDate,ControllerID,Result,Cell Fouling,Conductivity,NCM 1,NCM 2,Nonox Bio Relay On Time,ORP,...,windSpdMax,windSpd80mMin,windSpd80mAvg,windSpd80mMax,windSpd100mMin,windSpd100mAvg,windSpd100mMax,wetBulbMin,wetBulbAvg,wetBulbMax
63,150143993,2014-01-16,23809,1,1.020833,1197.916354,0.943958,0.010000,9.927083,164.218750,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
64,150143993,2014-01-16,86833,1,5.750000,1191.117135,1.289375,0.010000,2.625000,311.916667,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
65,150143993,2014-01-16,115796,1,3.204545,3018.831705,3.170455,0.035909,70.488636,295.420455,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
66,150143993,2014-01-16,132129,1,1.697917,1289.292917,1.670313,0.124896,0.083333,304.937500,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
67,150143993,2014-01-16,142744,1,6.270833,1494.662292,0.562500,0.010000,0.000000,254.406250,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6

In [57]:
df_par.nunique()

ShipTo                   74
measures_measureDate     32
ControllerID            137
Result                    2
Cell Fouling            130
                       ...
windSpd100mAvg           79
windSpd100mMax           82
wetBulbMin               92
wetBulbAvg               90
wetBulbMax               89
Length: 75, dtype: int64

In [59]:
df_par['measures_measureDate'].unique()

array(['2014-01-02T00:00:00.000000000', '2014-01-05T00:00:00.000000000',
       '2014-01-06T00:00:00.000000000', '2014-01-07T00:00:00.000000000',
       '2014-01-08T00:00:00.000000000', '2014-01-09T00:00:00.000000000',
       '2014-01-10T00:00:00.000000000', '2014-01-13T00:00:00.000000000',
       '2014-01-14T00:00:00.000000000', '2014-01-15T00:00:00.000000000',
       '2014-01-16T00:00:00.000000000', '2014-01-17T00:00:00.000000000',
       '2014-01-20T00:00:00.000000000', '2014-01-21T00:00:00.000000000',
       '2014-01-22T00:00:00.000000000', '2014-01-23T00:00:00.000000000',
       '2014-01-24T00:00:00.000000000', '2014-01-27T00:00:00.000000000',
       '2014-01-28T00:00:00.000000000', '2014-01-29T00:00:00.000000000',
       '2014-01-30T00:00:00.000000000', '2014-01-31T00:00:00.000000000',
       '2014-02-03T00:00:00.000000000', '2014-02-04T00:00:00.000000000',
       '2014-02-05T00:00:00.000000000', '2014-02-06T00:00:00.000000000',
       '2014-02-07T00:00:00.000000000', '2014-02-10T00:00:00.000000000',
       '2014-02-11T00:00:00.000000000', '2014-02-12T00:00:00.000000000',
       '2014-02-13T00:00:00.000000000', '2014-02-14T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [60]:
df_par.dtypes

ShipTo                           int64
measures_measureDate    datetime64[ns]
ControllerID                     int64
Result                           int64
Cell Fouling                   float64
                             ...
windSpd100mAvg                 float64
windSpd100mMax                 float64
wetBulbMin                     float64
wetBulbAvg                     float64
wetBulbMax                     float64
Length: 75, dtype: object

In [61]:
df_par.columns

Index(['ShipTo', 'measures_measureDate', 'ControllerID', 'Result',
       'Cell Fouling', 'Conductivity', 'NCM 1', 'NCM 2',
       'Nonox Bio Relay On Time', 'ORP', 'Ox Bio Relay On Time', 'TRASAR Dose',
       'Tagged Polymer Dose', 'Temperature', 'Turbidity', 'pH', 'SBU',
       'CountryCode', 'Latitude', 'Longitude', 'cldCvrMin', 'cldCvrAvg',
       'cldCvrMax', 'dewPtMin', 'dewPtAvg', 'dewPtMax', 'feelsLikeMin',
       'feelsLikeAvg', 'feelsLikeMax', 'heatIndexMin', 'heatIndexAvg',
       'heatIndexMax', 'mslPresMin', 'mslPresAvg', 'mslPresMax', 'precip',
       'presTendMin', 'presTendAvg', 'presTendMax', 'radSolarMin',
       'radSolarAvg', 'radSolarMax', 'radSolarTot', 'relHumMin', 'relHumAvg',
       'relHumMax', 'sfcPresMin', 'sfcPresAvg', 'sfcPresMax', 'snowDepth',
       'snowfall', 'spcHumMin', 'spcHumAvg', 'spcHumMax', 'tempMin', 'tempAvg',
       'tempMax', 'windChillMin', 'windChillAvg', 'windChillMax', 'windDirAvg',
       'windDir80mAvg', 'windDir100mAvg', 'windSpdMin', 'windSpdAvg',
       'windSpdMax', 'windSpd80mMin', 'windSpd80mAvg', 'windSpd80mMax',
       'windSpd100mMin', 'windSpd100mAvg', 'windSpd100mMax', 'wetBulbMin',
       'wetBulbAvg', 'wetBulbMax'],
      dtype='object')

In [66]:
df_par.drop(['Conductivity'],axis=1)

,ShipTo,measures_measureDate,ControllerID,Result,Cell Fouling,NCM 1,NCM 2,Nonox Bio Relay On Time,ORP,Ox Bio Relay On Time,...,windSpdMax,windSpd80mMin,windSpd80mAvg,windSpd80mMax,windSpd100mMin,windSpd100mAvg,windSpd100mMax,wetBulbMin,wetBulbAvg,wetBulbMax
0,150010683,2014-01-02,15490,0,0.000000,2.173437,0.017292,0.000000,518.416667,95.760417,...,27.2,26.2,31.2,38.5,27.3,32.7,40.3,37.1,40.6,44.1
1,150010683,2014-01-02,21778,0,4.200000,0.100000,0.016471,5.752941,385.282353,0.000000,...,27.2,26.2,31.2,38.5,27.3,32.7,40.3,37.1,40.6,44.1
2,150163434,2014-01-02,110015,0,2.625000,2.238229,0.110937,0.000000,515.395833,23.593750,...,14.9,7.3,13.1,19.4,7.4,13.3,19.7,49.6,54.7,59.8
3,150163434,2014-01-02,110792,0,77.406250,2.742708,0.246250,0.000000,294.625000,33.020833,...,14.9,7.3,13.1,19.4,7.4,13.3,19.7,49.6,54.7,59.8
4,150219235,2014-01-02,53679,0,0.000000,1.148526,0.130105,1.473684,566.915789,13.663158,...,10.7,1.0,7.9,16.9,1.0,8.0,17.1,39.0,50.5,59.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,150143993,2014-01-16,23809,1,1.020833,0.943958,0.010000,9.927083,164.218750,71.000000,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
64,150143993,2014-01-16,86833,1,5.750000,1.289375,0.010000,2.625000,311.916667,15.927083,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
65,150143993,2014-01-16,115796,1,3.204545,3.170455,0.035909,70.488636,295.420455,122.954546,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
66,150143993,2014-01-16,132129,1,1.697917,1.670313,0.124896,0.083333,304.937500,5.552083,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
67,150143993,2014-01-16,142744,1,6.270833,0.562500,0.010000,0.000000,254.406250,7.312500,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6

In [71]:
df_par.drop([0])

,ShipTo,measures_measureDate,ControllerID,Result,Cell Fouling,Conductivity,NCM 1,NCM 2,Nonox Bio Relay On Time,ORP,...,windSpdMax,windSpd80mMin,windSpd80mAvg,windSpd80mMax,windSpd100mMin,windSpd100mAvg,windSpd100mMax,wetBulbMin,wetBulbAvg,wetBulbMax
1,150010683,2014-01-02,21778,0,4.200000,1160.834706,0.100000,0.016471,5.752941,385.282353,...,27.2,26.2,31.2,38.5,27.3,32.7,40.3,37.1,40.6,44.1
2,150163434,2014-01-02,110015,0,2.625000,2554.996042,2.238229,0.110937,0.000000,515.395833,...,14.9,7.3,13.1,19.4,7.4,13.3,19.7,49.6,54.7,59.8
3,150163434,2014-01-02,110792,0,77.406250,151.083333,2.742708,0.246250,0.000000,294.625000,...,14.9,7.3,13.1,19.4,7.4,13.3,19.7,49.6,54.7,59.8
4,150219235,2014-01-02,53679,0,0.000000,1580.237158,1.148526,0.130105,1.473684,566.915789,...,10.7,1.0,7.9,16.9,1.0,8.0,17.1,39.0,50.5,59.2
5,150179409,2014-01-05,20330,0,18.000000,1036.994271,0.173437,0.010000,0.000000,702.125000,...,9.2,2.8,6.7,13.9,2.9,7.0,14.6,48.9,51.6,55.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,150143993,2014-01-16,23809,1,1.020833,1197.916354,0.943958,0.010000,9.927083,164.218750,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
64,150143993,2014-01-16,86833,1,5.750000,1191.117135,1.289375,0.010000,2.625000,311.916667,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
65,150143993,2014-01-16,115796,1,3.204545,3018.831705,3.170455,0.035909,70.488636,295.420455,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
66,150143993,2014-01-16,132129,1,1.697917,1289.292917,1.670313,0.124896,0.083333,304.937500,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6
67,150143993,2014-01-16,142744,1,6.270833,1494.662292,0.562500,0.010000,0.000000,254.406250,...,9.2,3.5,7.5,11.1,3.5,7.5,11.1,68.5,70.2,71.6

In [72]:
df_par['windSpdMax'].value_counts()

27.5    21
16.9     9
14.9     8
6.2      7
9.2      7
        ..
11.4     1
19.8     1
11.5     1
13.7     1
7.7      1
Name: windSpdMax, Length: 82, dtype: int64

In [73]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
RowNumber,10000.0,5.000500e+03,2886.895680,1.00,2500.75,5.000500e+03,7.500250e+03,10000.00
CustomerId,10000.0,1.569094e+07,71936.186123,15565701.00,15628528.25,1.569074e+07,1.575323e+07,15815690.00
CreditScore,10000.0,6.505288e+02,96.653299,350.00,584.00,6.520000e+02,7.180000e+02,850.00
Age,10000.0,3.892180e+01,10.487806,18.00,32.00,3.700000e+01,4.400000e+01,92.00
Tenure,10000.0,5.012800e+00,2.892174,0.00,3.00,5.000000e+00,7.000000e+00,10.00
Balance,10000.0,7.648589e+04,62397.405202,0.00,0.00,9.719854e+04,1.276442e+05,250898.09
NumOfProducts,10000.0,1.530200e+00,0.581654,1.00,1.00,1.000000e+00,2.000000e+00,4.00
HasCrCard,10000.0,7.055000e-01,0.455840,0.00,0.00,1.000000e+00,1.000000e+00,1.00
IsActiveMember,10000.0,5.151000e-01,0.499797,0.00,0.00,1.000000e+00,1.000000e+00,1.00
EstimatedSalary,10000.0,1.000902e+05,57510.492818,11.58,51002.11,1.001939e+05,1.493882e+05,199992.48
Exited,10000.0,2.037000e-01,0.402769,0.00,0.00,0.000000e+00,0.000000e+00,1.00

In [74]:
df.iloc[200:202,3:7:2]

     CreditScore Gender
200          850   Male
201          759   Male

In [78]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [88]:
df.loc[200:202,['CreditScore','Gender']]

     CreditScore Gender
200          850   Male
201          759   Male
202          516   Male

In [94]:
df[df['Age'] > 50]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
41,42,15738148,Clarke,465,France,Female,51,8,122522.32,1,0,0,181297.65,1
42,43,15687946,Osborne,556,France,Female,61,2,117419.35,1,1,1,94153.83,0
44,45,15684171,Bianchi,660,Spain,Female,61,5,155931.11,1,1,1,158338.39,0
58,59,15623944,T'ien,511,Spain,Female,66,4,0.00,1,1,0,1643.11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9936,9937,15653037,Parks,609,France,Male,77,1,0.00,1,0,1,18708.76,0
9939,9940,15808971,Lajoie,693,Spain,Female,57,9,0.00,2,1,1,135502.77,0
9948,9949,15735078,Onwughara,724,Germany,Female,53,1,139687.66,2,1,1,12913.92,0
9979,9980,15692664,Diribe,677,France,Female,58,1,90022.85,1,0,1,2988.28,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1

In [98]:
len(df[(df['Age'] > 30) & (df['Age'] < 50)])

6637

In [99]:
df['CreditScore'].quantile(0.25)

584.0

In [100]:
df['CreditScore'].quantile(0.75)

718.0

In [101]:
df['CreditScore'].quantile(0.50)

652.0

In [102]:
df[['Age','CreditScore']].cov()

                    Age  CreditScore
Age          109.994084    -4.019150
CreditScore   -4.019150  9341.860157

In [103]:
df[['Age','CreditScore']].corr()

                  Age  CreditScore
Age          1.000000    -0.003965
CreditScore -0.003965     1.000000

In [105]:
df[(df['Gender'] == 'Female') & (df['CreditScore'] < 500)].shape[0]

296